### 데이터 파일을 panda를 이용해서 로드
- read.csv({파일경로}, encoding={인코딩 엔진})
    - 파일의 경로는
        -절대 경로
            - 절대적 주소.
            - 집 주소와 유사한 개념. 환경이 변하더라도 같은 위치를 지정해줌. 
            - ex) C:/users/admin/document/a.txt, 인터넷 url 주소 
        - 상대 경로 
            - 상대적 주소
            - 환경에 따라 경로도 변경. 
            - ./ : 현재 파일의 경로를 의미. 
            - ../ : 현재 경로에서 상위로 이동
            - 폴더명:// 해당하는 상위 폴더로 이동
            - ex) ../csv/corona.csv (상위 폴더로 이동 > csv 하위폴더 이동 > corona.csv)

        - Encoding
            - UTF-8 (기본값)
                - 가장 일반적인 인코딩 형태 
                - 한글을 로드할 때 문제 발생할 수 있다. : 웬만하면 한글은 안 쓰는 게 옳음. 
            - CE949, EUC(KR)
                - UTF-8을 이용하여 파일을 로드할 때 파일에 에러가 발생했다면 사용하는 엔코딩 엔진. 
                - 한글 데이터를 로딩할 때 주로 사용 
    - 그 외의 확장자 파일 로드
        - read.확장자
            - read.excel({파일의 경로})
            - read.json ({파일의 경로}

In [2]:
import pandas as pd

In [3]:
corona = pd.read_csv("D:/Python/csv/corona.csv") #절대 경로
corona2 = pd.read_csv("../csv/corona.csv") # 상대 경로

# 상위 폴더로 이동 - > csv 하위 폴더로 이동 - > num_2 하위 폴더로 이동 - > drinks.csv
pd.read_csv("../csv/num_2/drinks.csv")

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF